.mdc-card {
  height: 100%; /* Make all the cards in a row in a view the same height */
/*  background-color: var(--md-sys-color-surface-container-low, #f7f2fa);*/
/*  border-radius: 12px;*/
/*  overflow: hidden;*/
/*  box-shadow: 0 1px 3px rgba(0,0,0,0.2);*/
/*  transition: box-shadow 200ms ease;*/
}

.mdc-card:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.mdc-card__media img {
  width: 100%;
  height: auto;
  display: block;
}

.mdc-card__content {
  display: flex;
  flex-wrap: wrap;

  footer {
    height: min-content;
    margin-top: auto;
  }
}

.mdc-card__title {
  margin: 0 0 8px 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.5rem;
  line-height: var(--mdc-typography-headline3-line-height, 2rem);
  color: var(--mdc-sys-color-on-surface, #1d1b20);
}

/* Make all the cards in a row in a view the same height */
div.views-element-container .views-view-responsive-grid__item-inner {
  height: 100%;
}
