// @file
// Component: Tile Bg Image

$tile-bg-image-bp: gesso-breakpoint(desktop) !default;

.tile-bg-image {
  background-position: center;
  background-size: cover;
  color: gesso-color(text, on-light);
  max-width: 300px;
  text-align: center;
}
