/**
 * Styles for the secondary region
 */

.main-container > .row > aside {
  margin-top: 15px;
}
.main-container > .row > aside h1, .main-container > .row > aside .h1,
.main-container > .row > aside h2, .main-container > .row > aside .h2,
.main-container > .row > aside h3, .main-container > .row > aside .h3 {
  margin-top: 5px;
  margin-bottom: 4px;
}