
header.header {
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0.5em;
  background-color: $gray-lighter;
  padding: 0;

  div#block-chrisferagotti-sitebranding {
    text-align: center;
    font-family: $font-heading;
    font-size: 2em;
    line-height: 1em;
    color: $primary_3;

    @include small {
      font-size: 3em;
    }

    @include medium {
      font-size: 4em;
    }

    > * {
      margin-right: auto;
      margin-left: auto;
    }

    > img {
      height: 150px;
    }
  }

  nav[role="navigation"][id$="-mainnavigation"] {
    background-color: $primary_3;
  }

  div[id$="-breadcrumbs"] {
    background-color: $white;
    padding: 0.3em 0;
  }
}
