pre code.hljs {

  background-color: black;
  color: #bfbdbd;
  padding: .5em;
  white-space: pre-wrap;
  word-break: break-word;

  .hljs-preprocessor {

  }


  .hljs-keyword {
    color: white;
  }

  .hljs-title {
    color: #bf3333;
  }

  .hljs-class {

  }

  .hljs-comment {
    color: #e0e0dd;
  }

  .hljs-function {

  }

  .hljs-params {
    color: #bf3333;
  }

  .hljs-string {
    color: #d69956;
  }

  .hljs-variable {

  }

}
