
$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

table {
  padding:$base-spacing-unit;
  font-family: $font_data;
  margin:0;

  tr {
    &:nth-child(even) {
      background-color: $gray-1;
    }

    &:nth-child(odd) {
      background-color: $gray-white;
    }

    > th {

      background-color: $gray-black;
      color: $gray-white;
      padding: 10px;
      text-align: center;
    }

    > td {
      padding: 10px;
      color: $gray-black;
    }
  }
}

