
// Let the middle column grow when only two columns out of 3
.layout--threecol-25-50-25 .layout__region--second {
  flex-grow: 1;
}

html {
  background-color: $primary_3;
}

body {
  background-color: $primary_2;
}



.layout.layout--threecol-25-50-25 {
  > * {
    margin-right: 15px;
    margin-left: 15px;
  }

  @media (min-width: 640px) {
    margin-right:auto;
    margin-left:auto;
  }

  @media (min-width: 1280px) {
    width: 1280px;
  }
}

