/**
 * Styles for all links and buttons
 */

a {
  color: $primary_1;
}
a:hover,
a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: $secondary_1;
}

a.btn-link {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 0 solid transparent;
  transition: all 0.2s ease-out;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: $gray_white;
  background-color: $gray_black;
}

a.btn-link-gray {
  color: $gray_black;
  background-color: $gray_white;
}