/**
 * List of variables used throughout the styling of the site.
 */

/**** Colors and Hues ****/

$primary_1: #305BC9;
$primary_2: #D5DFE5;
$primary_3: #BEBBBB;

$secondary_1: #D7263D;
$secondary_2: #02182B;

$gray_white: white;
$gray_black: black;

/**** Fonts ****/
//$font_primary:;