/**
 * List of variables used throughout the styling of the site.
 */

/**** Colors and Hues ****/

$primary_1: #305BC9;
$primary_2: #BEBBBB;
$primary_3: #6d8796;

$secondary_1: #D7263D;
$secondary_2: #02182B;
$secondary_3: #f3f3f3;

$gray_white: white;
$gray_black: black;
$gray_1: #e8e8e8;
$gray_2: #989898;
$gray_3: #696969;
$gray_4: #363636;
$gray_5: #2b2b2b;

/**** Fonts ****/
$font_logo: 'Pacifico', cursive;
$font_primary: 'Merriweather', serif;
$font_secondary: 'Heebo', sans-serif;

