/**
 * Styles that don't currently fit anywhere else, but should be elsewhere
 */

/**** Main area and body ****/
[role="main"] p {
  font-size: 1.2em;
}
[role="main"] ul,
[role="main"] ol {
  font-size: 1.1em;
}
[role="main"] h2 {
  font-weight: bolder;
}
.clearfix {
  clear: both;
}
.region-content > h1 {
  margin-bottom: 5px;
}
body {
  color: #333333;
}

/**** Unpublished styling ****/
h2.unpublished:after {
  content: "(Unpublished)";
  margin: 5px;
  font-size: 60%;
  color: red;
}