/**
 * Styles for tag-related fields
 */

.field--name-field-tags {
  margin: 15px 5px;

  > * + *:before {
    margin-left: 10px;
  }

  > .field__item {
    display: inline-block;

    a {
      background-color: red;
      box-shadow: 2px 3px 8px 0px grey;
      color: white;
      padding: .2em 1.5em;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background-color: #ce0606;
        cursor: pointer;
      }

      &:active {
        box-shadow: none;
        top: 5px;
      }
    }
  }
}
