/**
 * Styles for the Tile view mode for nodes
 */

.node--view-mode-tile {
  max-width: 365px;
  position: relative;
  background-color: $gray_white;
  box-shadow: 5px 5px 8px 0 #041e38;

  a, a:hover, a:visited {
    text-decoration: none;
    color: $gray-white;
  }

  .tile-content {

    h2 {
      font-size: 1.2em;
      padding: 10px;
      max-height: 250px;
      display: inline-block;
      margin: 0;
      position: absolute;
      z-index: 1;
      background-color: rgba($gray-black, .7);
      color: $gray-white;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
    }
  }

}
