/**
 * List of variables used throughout the styling of the site.
 */


/**** Colors and Hues ****/

$primary_1: blue;
$primary_2: blue;
$primary_3: blue;

$secondary_1: red;
$secondary_2: red;
$secondary_3: red;

$gray_white: white;
$gray_black: black;

