.node--type-page.node--view-mode-full {
  .field--name-field-subtitle {
    top: -2.03em;
    position: relative;
    background-color: #2b3e51;
    font-style: italic;
    display: inline-block;
  }

  .block-field-blocknodepagefield-subtitle {
    text-align: center;
  }
}


