/**
 * Styles for the book-related blocks
 */

nav.book-navigation .traversal-links,
nav.book-navigation .traversal-links > ul {
  text-align: center;
}
nav.book-navigation .traversal-links > ul > li {
  display: inline;
}
nav.book-navigation .traversal-links > ul > * + *::before {
  content: " - ";
}
nav.book-navigation .traversal-links ol,
nav.book-navigation .traversal-links ul {
  padding: 0 1.5em;
}
section.block-book-navigation nav > ul {
  list-style: none;
}
section.block-book-navigation nav > ul {
  padding-left: 15px;
  margin-bottom: 5px;
}
section.block-book-navigation  nav li a {
  display: block;
  padding: 3px;
}
section.block-book-navigation  nav li a:hover,
section.block-book-navigation  nav li a:focus {
  text-decoration: none;
  background-color: #dddddd;
}
section.block-book-navigation  nav li {
  font-size: 1.1em;
}
section.block-book-navigation  nav li li{
  font-size: .9em;
}
section.block-book-navigation  nav li li li{
  font-size: .7em;
}