/**
 * Styles for the project-related blocks
 */

#block-projects-block .view-content {
  text-align: center;
}
article.project.full .field--name-field-image img,
#block-projects-block .views-row .views-field-field-image {
  margin: 15px auto;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
article.project.full .field--name-field-link {
  text-align: center;
}
#block-projects-block .views-row {
  display: inline-block;
  text-align: center;
  margin: 20px;
}