.footer {
  min-width: 100%;
  clear: both;
  background-color: $primary_3;
  color: $near-white;
  margin-bottom: 0;
  padding: 15px 20px 30px 20px;

  @media only screen and (min-width: 1224px) {
    > * {
      max-width: 1224px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
