$breadcrumb-active: #bbb;

.breadcrumb {
  @include list-reset;

  max-width: 1224px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;

  background-color: $white;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $gray-light;
  text-decoration: none;
}

.breadcrumb__link:hover {
  color: $gray;
}

.breadcrumb__item {
  display: inline-block;
  font-size: 0.75rem;

  &::after {
    content: "/";
  }

  &:last-child {
    color: $breadcrumb-active;

    &::after {
      content: "";
    }
  }
}

.breadcrumb_link:active {
  color: $breadcrumb-active;
}
