/**
 * List of variables used throughout the styling of the site.
 */

/**** Colors and Hues ****/

$primary_1: blue;
$primary_2: red;
$primary_3: white;

$secondary_1: red;
$secondary_2: red;
$secondary_3: red;

$gray_white: white;
$gray_lighter: #cccccc;
$gray_light: #a3a3a3;
$gray: gray;
$gray_dark: #595959;
$gray_darker: #202020;
$gray_black: black;

/**** Fonts ****/
@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap');
$font_logo: 'Baloo Bhai', cursive;;
