body,
body.gin--vertical-toolbar.toolbar-horizontal.toolbar-fixed {
  font: 100% $font-primary;
  color: $color-black;
  background-color: $color-background;
  margin: 0;
}

a {
  color: $color-link;

  :visited,
  :hover {
    color: $color-link-visited;
  }
  &.is-active {
    color: $color-link-is-active;
  }
}

div[id^="block-"][id$="-page-title"] {
  @include site-max-width();
}

div[data-drupal-messages] {
  [role="contentinfo"] {
    @include site-max-width();
  }
}

header[role="banner"] {
  > div {
    @include site-max-width();
    text-align: center;
    font-family: $font-site-branding;

    p {
      font-size: 200%;
      margin: 20px 10px;
    }
  }
}

footer[role="contentinfo"] {
  >div {
    @include site-max-width();
  }
}

main[role="main"] {
  div[id^="block-"][id$="-content"] {
    header[class] .node__meta {
      @include site-max-width();
    }
    div.node__content > * {
      @include site-max-width();
    }

    article {
      > footer,
      > div {
        @include site-max-width();
      }
    }

    div.field_paragraphs {
        div.paragraph {
          @include site-max-width();
        }
    }

    div.field_tags {
      @include site-max-width();
    }
  }
}
