@font-face {
  font-family: "Apane";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(../fonts/Apane.woff2) format("woff2 supports variations(gvar)"), url(../fonts/Apane.woff2) format("woff2-variations"), url(../fonts/Apane.woff2) format("woff2");
}
