nav[role="navigation"][aria-labelledby="system-breadcrumb"] {
  @include site-max-width();
  font-size: $font-size-small;

  a {
    text-decoration: none;
  }

  > ol {
    display: flex;
    padding: 0;

    > * + * {
      margin-left: 20px;
    }
    > li {
      list-style: none;
    }
  }
}

div[id^="block-"][id$="-local-tasks"] {
  display: flex;
  @include site-max-width();

  ul {
    padding: 0;

    li {
      list-style-type: none;
      margin-right: 10px;
      display: inline-block;

      a {
        display: block;
        padding: 10px;
        color: $color-gray-dark;
        text-decoration: none;
        border-bottom: 3px solid transparent;

        &.is-active {
          font-weight: bold;
          border-color: $color-link-is-active;
        }

        &:hover {
          background-color: $color-gray-lighter;
        }
      }
    }
  }
}


div.region.primary_menu {
  @include site-max-width();

  background-color: $color-secondary;

  nav[role="navigation"][id^="block-"][id$="-main-menu"] {
    display:flex;

    > ul {
      padding: 10px;
      display:flex;
      flex-wrap: wrap;
      row-gap: 25px;
      column-gap: 25px;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;

      > li {
        display: inline-block;
      }

      > li#main-search-button {
        margin-left: auto;
        margin-right: 0;
      }

      a {
        text-decoration: none;
        color: $color-accent;
        font-size: $font-size-large;
      }
    }
  }

  div.search-api-form {
    display: none;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;

      input {
        border-radius: 0;
        padding: 0.5em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }
}

