div[data-drupal-messages] {
  .messages__wrapper {
    max-width: $width-max;
    margin-left: auto;
    margin-right: auto;

    > [data-drupal-message-type="status"] {
      background-color: $color-messages-status;
    }

    > [data-drupal-message-type="warning"] {
      background-color: $color-messages-warning;
    }

    > [data-drupal-message-type="error"] {
      background-color: $color-messages-error;
    }

    > .messages {
      padding: 10px;
      color: $color-messages-font;

      a,
      a:hover,
      a:link,
      a:visited,
      a:focus-visible{
        color: $color-messages-font;
        font-weight: $font-weight-bold;
      }
    }
  }

}
