div#recipe-info {
  > div {
    display:inline-block;
    > div {
      display:inline-block;
    }
  }
}

div#recipe-ingredients {
  .paragraph--type--ingredient {
    > div {
      display: inline-block;
    }
  }
}

div#recipe-directions {
  counter-reset: esum;

  > div {
    position: relative;
    counter-increment: esum;

    &:before {
      content: "Step " counter(esum);
    }
  }
}
