.node.view-mode--full {

  .field.field_tags {
    display: flex;
    flex-direction: row;
    gap:10px;

    .taxonomy_term {
      padding: 2px 10px;
      border-radius: 5px;
      border: 2px solid $color-tag-font;
      background-color: $color-tag-background;

      a {
        text-decoration: none;
        color: $color-tag-font;
      }
    }
  }
}
