// --------------- Fonts ---------------

$font-primary: Helvetica, sans-serif;
$font-secondary: Helvetica, serif;
$font-site-branding: 'Apane';

$font-size-full: 100%;
$font-size-small: 80%;
$font-size-large: 120%;

$font-weight-bold: bold;

// --------------- Colors ---------------

$color-primary: #072e6c;
$color-secondary: #5d8bda;
$color-accent: #e3dd23;
$color-link: #d39f19;
$color-link-visited: #9b7223;
$color-link-is-active: #d0cfc2;
$color-background: #e4f2ff;

$color-white: #f6f6f6;
$color-black: #121212;

$color-gray-lighter: #AAA;
$color-gray-light: #888;
$color-gray: #666;
$color-gray-dark: #444;
$color-gray-darker: #222;

$color-messages-status: #6ca479;
$color-messages-warning: #efce85;
$color-messages-error: #fa7e7e;
$color-messages-font: #fbfdff;

// --------------- Dependent Colors ---------------
$color-tag-font: $color-link-visited;
$color-tag-background: $color-white;

// --------------- Widths ---------------

$width-max: 1280px;
