body.front {

  div.header-image {
    max-width: $lg;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
  }

  @media only screen and (max-width: $sm) {
    div.header-image {
      margin-top: 56px;
    }
  }
}



