
/* Mobile Main Nav Menu Styles  */
#block-ut-material-main-menu {
  /* (Screen width < 768px) */
  @media (max-width: 767px) {

    /* Make children items show properly in the structure for mobile menu*/
    .mdc-menu-surface--anchor .mdc-menu-surface--open {
      position: relative;
      overflow: unset;

      .mdc-deprecated-list {
        padding: 0;
        width: 100vw;
      }
    }

    /* Move the whole nav to the right */
    margin-left: auto;
    /* Prepare for the dropdown going full screen beneath */
    position: static;

    /* 1. Create the Hamburger Toggle Button via CSS if not in HTML */
    .menu-toggle {
      display: block;
      padding: 15px;
      cursor: pointer;
      font-weight: bold;
      background: $theme-primary; /* Material Primary */
      color: $theme-background;
      text-align: center;
      border: none;
    }

    /* 2. Hide the menu by default and position it */
    .navbar-menu {
      display: none; /* Hidden until toggled */
      flex-direction: column;
      width: 100vw;
      position: absolute;
      left: 0;
    }

    /* 3. Class to show the menu when JS toggles it */
    .navbar-menu.is-open {
      display: block;
    }

    /* 4. Reset list styles for vertical stack */
    .menu--level-0 {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    .navbar-menu__item {
      display: flex;
      justify-content: space-between;
      padding: 16px;
      border-bottom: 1px solid $theme-background;
      text-decoration: none;
      color: $theme-background;
      background-color: $theme-primary;
    }
  }

  /* Desktop View (Reset) */
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
    .navbar-menu {
      display: flex !important;
    }
    .menu--level-0 {
      display: flex;
      flex-direction: row;
    }
  }
}

div.layout-container--page main div.main-content__container {
  margin-top: 68px;
}

@media (min-width: $sm) {
  div.layout-container--page main div.main-content__container {
    margin-top: 75px;
  }
}
