// Grayscale
$white: #fff;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: #000;

// Project
$primary_1: #305bc9;
$primary_2: #bebbbb;
$primary_3: #6d8796;
$secondary_1: #67141b;
$secondary_2: #02182b;
$secondary_3: #f3f3f3;
